#color-toggle {
    background-color: transparent;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 8px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .125rem rgba(255,255,255,.5) !important;
}
#color-toggle:after {
    display: none;
}
#color-dropdown {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
}

#preset-colors {
    border: 2px solid #222;
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.25rem 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 240px;
}

.preset-color-button {
    border: 3px solid #333 !important;
    margin: 0 3px;
    border-radius: 50% !important;
    padding: 0.25rem  !important;
    width: 2rem;
    height: 2rem;
}

.preset-color-button:hover {
    border-color: rgba(255, 255, 255, 0.8)  !important;
    scale: 1.1;
}

.btn-check:focus + .btn-light {
    box-shadow: none !important;
    border-color: rgba(255, 255, 255, 0.4)  !important;
    scale: 1.1;
}

#sidebar-overlay {
    background-color: black;
    width: 21rem;
}
#itempool-overlay {
    background-color: black;
    width: 21rem;
    max-height: 100%;
    overflow-y: hidden;
}

#tierlist_outer { 
    display: flex;
    overflow: scroll;
    flex: 1;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

#tierlist_holder {
    margin: 0 auto;
}

#tierlist_inner {
    display: flex;
}

.rcp, .rcp-saturation {
    background-color: black;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0 !important;
}
.rcp-fields-element-label, .rcp-fields-element-input {
    letter-spacing: inherit;
    font-size: 1rem;
}
.rcp-body {
    border: 2px solid #222;
    border-bottom: none;
    padding: 1rem 1rem 0 1rem !important;
}

.toolbar-button button, .toolbar-dropdown .dropdown-toggle {
    margin: 0 0.25rem;
    border: none;
    color: black;
    background-color: #1DB954;
    border-radius: 0.5rem;
    outline: none;
}

.toolbar-button button:hover, .toolbar-dropdown .dropdown-toggle:hover {
    color: white;
    background-color: #1DB954;
}

.toolbar-button button:focus, .toolbar-dropdown .dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem #1db95480;
}

.toolbar-dropdown .dropdown-menu {
    background-color: black;
}

.toolbar-dropdown .dropdown-menu button:active{
    background-color: #535353;
}

#export-data {
    text-align: center;
    text-decoration: none;
}
#export-data:active {
    background-color: #535353;
    border: none;
    box-shadow: none;
}
#import-data {
    text-align: center;
}
#import-data:hover {
    background-color: #262626;
    color: white;
}
#import-data label:hover {
    cursor: pointer;
}

.column-remove-button {
    display: block;
    position: absolute;
    border: none;
    box-shadow: 0 0 2px black;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    transform: translate(-0.75rem, -0.75rem);
    transition: 0.175s ease-out;
    z-index: 999;
    text-align: center;
    background-color: #f21e08;
    color: black;
}
.column-remove-button:hover {
    scale: 1.2;
    transition: 0s !important;
}
.column-remove-button:active {
    scale: 1.1;
}

#delete-modal .modal-content{
    background-color: #161616;
    border: 2px solid #333;
}

#delete-modal .modal-content .modal-header {
    border-bottom: 2px solid #222;
    padding: 0.25rem 1rem 0.25rem 0.75rem;
    color: #1DB954;
}

#delete-modal .modal-content .modal-body {
    padding: 0.5rem 1rem;
    color: white;
}

#delete-modal .modal-content .modal-footer {
    border-top: 2px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#delete-modal .modal-content .modal-footer button {
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin: 0 auto;
    color: white;
    border-width: 2px;
    border-style: outset;
}

#keep-items {
    background-color: #0b4920;
    border-color: #0e7030;
}
#keep-items:hover {
    border-color: #1DB954;
}
#keep-items:active {
    border-color: #1DB954;
    border-style: inset !important;
    background-color: #052c12 !important;
}

#delete-items {
    background-color: #7e0000;
    border-color: darkred;
}
#delete-items:hover {
    border-color: red;
}
#delete-items:active {
    border-color: red;
    border-style: inset !important;
    background-color: #530000 !important;
}