* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, #121212 0%, #121212 calc(100% - 216px), #424242 100%) no-repeat, #121212;
  box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}

.btn {
  letter-spacing: 1px;
}
  
.sidebar-search {
  width: 48rem;
  margin: 2rem auto;
}
  
.form-control {
  font-size: 1.2rem;
}
  
.main-heading {
  margin: 2rem 0;
  color: #1DB954;
}
  
.hide {
  display: none;
}
  
.active {
  border: 2px solid #1DB954;
}
  
.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
  
.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}
  
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}
  
.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}
  
.loader-open {
  overflow: hidden;
}
  
.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
  
.search-buttons {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
}
  
.search-buttons .btn:focus {
  box-shadow: none;
}
  
.tracks,
.albums,
.artists,
.playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color:#fff;
}

.card {
  background: none;
  border: none;
  width: 24rem;
  max-height: 6rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.card small {
  color:#A4A4A4;
}
.card-title {
  margin: 0;
}
.card small, .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 0.1rem;
  user-select: none;
}

.card-body {
  padding-top: 0.1rem;
  padding-right: 0;
  max-width: 16rem;
}

.card .card-image-link {
  text-align: center;
}
  
.card img {
  width: 6rem;
  height: 6rem;
}
  
@media screen and (max-width: 400px) {
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .card img {
    height: auto;
  }
  .main-heading {
    text-align: center;
  }
}